$track-height: 6px;
$btn-height: 15px;

.rng-wrapper {
  width: 100%;
  overflow: visible;
  position: relative;
  display: inline-block;
  padding-top: 40px;
}

.rng-track, .rng-rail {
  height: $track-height;
  background-color: green;
  border-radius: $track-height/2;
}

.rng-slider {
  height: $btn-height;
  width: $btn-height;
  border-radius: $btn-height/2;
  background-color: #0b97c4;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-top: -($btn-height + $track-height)/2;
  cursor: pointer;
  will-change: margin-left, transform;
  transition: margin-left .2s ease-in, transform .2s ease-in;
  transform: translate3d(0,0,0);
}

.rng-rail {
  position: absolute;
  background-color: red;
  will-change: left, right;
  transition: left .2s ease-in, right .2s ease-in;
  transform: translate3d(0,0,0);
}

.rng-active {
  transform: scale(1.4) translate3d(0,0,0);
}

.rng-value {
  position: absolute;
  width: 40px;
  margin-left: -20px + $btn-height / 2;
  text-align: center;
  transition: all .2s ease-in;
  margin-top: - ($track-height + $btn-height/2 + 20px);
}

.rng-range{
  div{
    display: inline-block;
    margin-top: 10px;
    &.rng-range-max{
      float: right;
    }
  }
}
