@import "../theme";

$track-height: 6px;
$btn-height: 15px;

.rng-wrapper {
  width: 100%;
  overflow: visible;
  position: relative;
  display: inline-block;
  padding-top: 40px;
}

.rng-track, .rng-rail {
  height: $track-height;
  background-color: $secondary-color;
  border-radius: $track-height/2;
}

.rng-slider-wrapper {
  will-change: transform;
  transition: transform .2s ease-out;
  transform: translate3d(0, 0, 0);
}

.rng-slider {
  height: $btn-height;
  width: $btn-height;
  border-radius: $btn-height/2;
  background-color: darken($primary-color, 10%);
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-top: -($btn-height + $track-height)/2;
  margin-left: -$btn-height/2;
  cursor: pointer;
}

.rng-rail {
  position: relative;
  background-color: $primary-color;
  will-change: left, width;
  transition: left .2s ease-out, width .2s ease-out;
}

.rng-active .rng-slider {
  transform: scale(1.4) translate3d(0, 0, 0);
}

.rng-value {
  position: absolute;
  width: 40px;
  margin-left: -20px + $btn-height / 2;
  text-align: center;
  margin-top: - ($track-height + $btn-height/2 + 20px);
}

.rng-range {
  div {
    display: inline-block;
    margin-top: 10px;
    &.rng-range-max {
      float: right;
    }
  }
}

.rng-steps-wrapper {
  width: 100%;
  height: $track-height;
  margin-top: -$track-height;
  position: absolute;
}

$stepWidth: 6px;

.rng-step {
  width: $stepWidth;
  height: $stepWidth;
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-top: -2px;
  border-radius: 50%;
  border: 2px solid $secondary-color;
  margin-left: -($stepWidth+4px)/2;
  will-change: border-color;
  transition: border-color .2s ease-out;
  &.rng-step-active{
    border-color: $primary-color;
  }
}
