@import "../theme";

.rf-count {
  width: $count-width;
  background-color: #f6f6f6;
  padding: $count-padding;
  overflow: auto;

  &.disabled{
    opacity: 0.8;
    pointer-events: none;
  }
}

.count-button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  outline: none;
  border-radius: 2px;
  padding: 8px 10px;
  color: $primary-color;
  display: inline-block;
  vertical-align: top;
  float: left;
  height: $count-height - 2*$count-padding;
  width: $count-height - 2*$count-padding;
  cursor: pointer;
}

.count-value {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  float: left;
  overflow: hidden;
  width: $count-width - 2*($count-height - 2*$count-padding);
  text-align: center;
}
