.ac-searchbox{
  outline: none;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #eee;
  font-family: inherit;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  will-change: border-color;
  transition: border-color .2s ease-in;
  &:focus{
    border: 1px solid deepskyblue;
  }
}

.ac-suggestions-wrapper{
  border: 1px solid #eee;
  border-top: 0;
  background-color: #fff;
}

.ac-suggestion{
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px;
  color: #666;
  border-bottom: 1px solid #eeeeee;
  &:last-of-type{
    border-bottom: none;
  }
  &.ac-suggestion-active{
    background-color: #fafafa;
  }
}

