@import url(https://fonts.googleapis.com/css?family=Lato);
@import "../components/styles";

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ac-suggestion{
  span{
    float: right;
  }
}

.range-container{
  width: 80%;
}

.rf-autocomplete{
  width: 80%;
}

.group{
  width: 200px;
}
